@defer (when order()) {
  <form [formGroup]="editForm" (ngSubmit)="submit()">
    <div class="field status">
      <label for="status">Status</label>
      <p-dropdown [options]="orderStatuses"
                  optionLabel="value"
                  optionValue="key"
                  id="status"
                  formControlName="status"
      />
    </div>
    <div class="field city">
      <label for="city">City</label>
      <input pInputText id="city" formControlName="city">
    </div>
    <div class="field street">
      <label for="street">Street</label>
      <input pInputText id="street" formControlName="street">
    </div>
    <div class="field houseNumber">
      <label for="houseNumber">House number</label>
      <input pInputText id="houseNumber" formControlName="houseNumber">
    </div>
    <p-button label="Save" type="submit"/>
  </form>
}
