@import "primeicons/primeicons.css";

html, body {
  height: 100%;
  overflow: hidden;
}


.spacer {
  flex: 1 1 auto;
}



:root {
  .p-card, .p-card-content, .p-card-body {
    height: 100%;
  }

  .p-dropdown {
    width: 100% !important;
  }

  .p-datatable-tbody {
    height: 25rem;
  }
}
