<div class="orders-page p-3">
  <div class="page-head">
    <h2>Orders</h2>
  </div>

  <div class="orders-list">
    <div class="list" *ngIf="orders() as orders">
      <p-table scrollable
               dataKey="id"
               [value]="orders.items">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 6rem;"></th>
            <th class="text-center">Items count</th>
            <th class="text-center">Status</th>
            <th class="text-center">Delivery Info</th>
            <th class="text-center">Total price</th>
            <th class="text-center"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-order class="h-20rem" let-expanded="expanded">
          <tr>
            <td>
              <p-button type="button"
                        [pRowToggler]="order"
                        [text]="true"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              />
            </td>
            <td>{{order.items.length}}</td>
            <td>{{OrderStatus[order.status]}}</td>
            <td>
              City: {{order.deliveryInfo.city}}
              Street: {{order.deliveryInfo.street}}
              HouseNumber: {{order.deliveryInfo.houseNumber}}
            </td>
            <td>{{ calculateTotalOrderPrice(order) }}</td>
            <td>
              <p-button icon="pi pi-times" outlined severity="danger" (onClick)="cancelOrder(order.id)"/>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-orderEntity>
          <tr class="bg-gray-100">
            <td colspan="6">
              <p-table [value]="orderEntity.items" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total price</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orderItem>
                  <tr>
                    <td class="text-center">{{orderItem.product.title}}</td>
                    <td class="text-center">{{orderItem.quantity}}</td>
                    <td class="text-center">{{calculateOrderItemTotalPrice(orderItem)}}</td>
                  </tr>
                </ng-template>
              </p-table>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="pagination">
      <p-paginator [rows]="pageSize()"
                   [rowsPerPageOptions]="[1, 5,10,15,20]"
                   [totalRecords]="orders()?.totalCount"
                   (onPageChange)="onPageChange($event)"/>
    </div>
  </div>
</div>
<p-confirmDialog/>
