<div class="h-full flex justify-content-center align-items-center flex-column gap-3">
  <p-button label="Home" icon="pi pi-arrow-left" routerLink="/" link iconPos="left"/>
  <p-card header="Register">
    <div class="form-section">
      @if (errorMessage()) {
        <div class="error-message">
          {{errorMessage()}}
        </div>
      }
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="field flex flex-column gap-1">
          <label for="email">Email</label>
          <input type="email" id="email" pInputText formControlName="email">
        </div>
        <div class="field flex flex-column gap-1">
          <label for="password">Password</label>
          <input type="password" id="password" pInputText formControlName="password">
        </div>

        <p-button label="Submit" type="submit"/>
      </form>
    </div>

    <ng-template pTemplate="footer">
      <p-button link routerLink="/auth/login" class="block text-center">Or login</p-button>
    </ng-template>
  </p-card>
</div>
